Comparing SimilarWeb.json
{
  "name": "Comparing SimilarWeb",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 7
            }
          ]
        }
      },
      "id": "c30f57a7-e012-4567-82b2-9a333d60c4c5",
      "name": "Cron: Обработка очереди",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        528
      ],
      "notes": "Каждый час проверяет очередь и запускает до 9 задач"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": [
                8,
                20
              ]
            }
          ]
        }
      },
      "id": "2ac92421-090d-483c-8036-7e6359add027",
      "name": "Cron: Проверка полноты (2x в день)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        16
      ],
      "notes": "2 раза в день (08:00 и 20:00) проверяет полноту данных за 10 месяцев"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 432048814,
          "mode": "list",
          "cachedResultName": "Конкуренты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=432048814"
        },
        "options": {}
      },
      "id": "6e969da6-83ef-4e81-86f2-c369a41d9a70",
      "name": "Читаем всех конкурентов",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 251226707,
          "mode": "list",
          "cachedResultName": "Результаты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=251226707"
        },
        "options": {}
      },
      "id": "e937837e-9cc0-4e9e-8f64-53fcad36a036",
      "name": "Читаем все результаты",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "39f9149b-75ff-419b-b4f2-fafd98b79844",
      "name": "Объединяем данные",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        464,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807869987,
          "mode": "list",
          "cachedResultName": "Очередь",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=807869987"
        },
        "options": {}
      },
      "id": "queue-check-node-0001-0001-000000000001",
      "name": "Читаем очередь (проверка)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Проверка полноты данных за последние 10 месяцев\n// ОПТИМИЗАЦИЯ: Разбиваем конкурентов на группы по 5 сайтов (ограничение SimilarWeb)\nconst competitors = $('Читаем всех конкурентов').all();\nconst results = $('Читаем все результаты').all();\n\n// Читаем существующую очередь чтобы не дублировать задачи\nlet existingQueue = [];\ntry {\n  existingQueue = $('Читаем очередь (проверка)').all();\n} catch (e) {\n  // Очередь может быть пустой\n}\n\n// Максимум сайтов в одном запросе SimilarWeb (клиент + 4 конкурента)\nconst MAX_SITES_PER_REQUEST = 5;\n\n// Функция нормализации домена (убираем https://, www., trailing slash)\nfunction normalizeDomain(url) {\n  if (!url) return '';\n  return url\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/\\/+$/, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Генерируем список последних 10 месяцев (с учётом задержки SimilarWeb в 2 месяца)\n// SimilarWeb не показывает данные за последние 2 месяца\nfunction getLast10Months() {\n  const months = [];\n  const now = new Date();\n  \n  // Начинаем с 3-го месяца назад (пропускаем текущий и предыдущий)\n  for (let i = 3; i <= 12; i++) {\n    const d = new Date(now.getFullYear(), now.getMonth() - i, 1);\n    const year = d.getFullYear();\n    const month = String(d.getMonth() + 1).padStart(2, '0');\n    months.push(`${year}.${month}`);\n  }\n  \n  return months;\n}\n\nconst last10Months = getLast10Months();\n\n// Группируем конкурентов по клиентам (с нормализацией доменов)\nconst clientCompetitors = new Map();\n\ncompetitors.forEach(row => {\n  const client = normalizeDomain(row.json.client_site);\n  const competitor = normalizeDomain(row.json.competitors_site);\n  \n  if (client && competitor) {\n    if (!clientCompetitors.has(client)) {\n      clientCompetitors.set(client, []);\n    }\n    if (!clientCompetitors.get(client).includes(competitor)) {\n      clientCompetitors.get(client).push(competitor);\n    }\n  }\n});\n\n// Собираем существующие ключи из результатов\nconst existingKeys = new Set();\nresults.forEach(row => {\n  if (row.json.key) {\n    existingKeys.add(row.json.key);\n  }\n});\n\n// Собираем существующие задачи в очереди (pending и processing)\nconst existingQueueKeys = new Set();\nexistingQueue.forEach(row => {\n  const status = row.json.status;\n  if (status === 'pending' || status === 'processing') {\n    // Ключ: client_site + period + sites_list\n    const key = `${row.json.client_site}_${row.json.period}_${row.json.sites_list}`;\n    existingQueueKeys.add(key);\n  }\n});\n\n// Функция для разбиения массива на чанки\nfunction chunkArray(array, chunkSize) {\n  const chunks = [];\n  for (let i = 0; i < array.length; i += chunkSize) {\n    chunks.push(array.slice(i, i + chunkSize));\n  }\n  return chunks;\n}\n\n// Создаём задачи с разбиением на группы\nconst queueTasks = [];\n\nclientCompetitors.forEach((competitorsList, clientSite) => {\n  const competitorChunks = chunkArray(competitorsList, MAX_SITES_PER_REQUEST - 1);\n  \n  competitorChunks.forEach((chunk, chunkIndex) => {\n    last10Months.forEach((period, periodIndex) => {\n      const sitesInRequest = [clientSite, ...chunk];\n      const sitesList = sitesInRequest.join(',');\n      \n      // Проверяем, есть ли уже такая задача в очереди\n      const queueKey = `${clientSite}_${period}_${sitesList}`;\n      if (existingQueueKeys.has(queueKey)) {\n        return; // Пропускаем - задача уже в очереди\n      }\n      \n      // Проверяем, есть ли недостающие данные для этой группы\n      const missingSites = sitesInRequest.filter(site => {\n        const key = `${period}_${site}`;\n        return !existingKeys.has(key);\n      });\n      \n      // Если есть хотя бы один сайт без данных - создаём задачу\n      if (missingSites.length > 0) {\n        const taskId = `${clientSite}_${period}_chunk${chunkIndex}_${Date.now()}`;\n        \n        queueTasks.push({\n          queue_id: taskId,\n          client_site: clientSite,\n          sites_list: sitesList,\n          chunk_index: chunkIndex,\n          total_chunks: competitorChunks.length,\n          period: period,\n          status: 'pending',\n          priority: periodIndex,\n          created_at: new Date().toISOString().replace('T', ' ').substring(0, 19),\n          task_id: '',\n          error_message: ''\n        });\n      }\n    });\n  });\n});\n\nqueueTasks.sort((a, b) => b.priority - a.priority);\n\nconst summary = {\n  totalClients: clientCompetitors.size,\n  totalTasks: queueTasks.length,\n  skippedExisting: existingQueueKeys.size,\n  periods: last10Months,\n  maxSitesPerRequest: MAX_SITES_PER_REQUEST\n};\n\nconsole.log('Queue tasks summary:', summary);\n\nif (queueTasks.length === 0) {\n  return [{ json: { noNewTasks: true, summary } }];\n}\n\nreturn queueTasks.map(task => ({ json: task }));"
      },
      "id": "19b85d8a-b590-4d84-aaa8-cea697886401",
      "name": "Анализ полноты данных",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-new-tasks",
              "leftValue": "={{ $json.noNewTasks }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb407d3a-3b89-4c14-b095-7f30ae715581",
      "name": "Есть новые задачи?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807869987,
          "mode": "list",
          "cachedResultName": "Очередь",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=807869987"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "queue_id",
              "displayName": "queue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_site",
              "displayName": "client_site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sites_list",
              "displayName": "sites_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "period",
              "displayName": "period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f6b856b1-91c9-4b5d-9553-2699d6b34a39",
      "name": "Добавляем в очередь",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003503638426",
        "text": "=📋 <b>Проверка полноты данных</b>\n\nДобавлено задач в очередь: {{ $json.length || 1 }}\n\nПериоды: последние 10 месяцев\n\n⚡ Оптимизация: макс. 4 сайта на запрос",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "0d051d82-662e-43b9-a4ac-1a403b04e689",
      "name": "Telegram: Задачи добавлены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        96
      ],
      "webhookId": "14ccabb4-4ded-4a6c-a9e1-0c3bb571fb6a",
      "credentials": {
        "telegramApi": {
          "id": "mHbM43fsaWN90avF",
          "name": "I.Redin - ws tg log"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807869987,
          "mode": "list",
          "cachedResultName": "Очередь",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=807869987"
        },
        "options": {}
      },
      "id": "4be8d998-5720-4df5-9318-efa1c9836741",
      "name": "Читаем очередь",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-pending-queue",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1969d3e6-b6bd-4220-a213-0c9fea462961",
      "name": "Filter: Только pending",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Берём до 9 задач из очереди и добавляем рандомные задержки\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// Берём максимум 9 задач (лимит Browse AI в час)\nconst tasksToProcess = items.slice(0, 9);\n\n// Генерируем псевдо-рандомные задержки (3-7 минут между задачами)\nconst tasks = tasksToProcess.map((item, index) => {\n  // Базовая задержка 3-4 минуты + рандом 0-3 минуты\n  const baseDelay = 180 + Math.floor(Math.random() * 60); // 180-240 сек\n  const randomExtra = Math.floor(Math.random() * 180); // 0-180 сек\n  const delaySeconds = baseDelay + randomExtra; // 180-420 сек (3-7 мин)\n  \n  // Накопительная задержка для каждой задачи\n  const cumulativeDelay = index * delaySeconds;\n  \n  return {\n    json: {\n      ...item.json,\n      taskIndex: index,\n      delaySeconds: cumulativeDelay,\n      delayMinutes: Math.round(cumulativeDelay / 60),\n      scheduledAt: new Date(Date.now() + cumulativeDelay * 1000).toISOString()\n    }\n  };\n});\n\nconsole.log(`Processing ${tasks.length} tasks with random delays`);\n\nreturn tasks;"
      },
      "id": "653d8084-4808-40d6-bac1-c521f7d04c64",
      "name": "Подготовка задач (макс 9)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Формируем URL для запуска робота v2\n// Сайты подставляются напрямую в URL (Browse.ai не подставляет плейсхолдеры)\nconst input = $input.first().json;\n\nconst sites = input.sites_list.split(\",\");\n\n// Проверка на лимит сайтов\nif (sites.length > 5) {\n  console.warn(`WARNING: Too many sites (${sites.length}), truncating to 5`);\n  sites.length = 5;\n}\n\n// Формируем sites для URL\nconst sitesParam = sites.map(s => s.trim()).join(\",\");\n\n// queue_id для отслеживания\nconst queueId = input.queue_id;\n\n// URL с подставленными сайтами и queueId для отслеживания\nconst performanceUrl = `https://pro.similarweb.com/#/digitalsuite/websiteanalysis/overview/website-performance/*/804/12m?webSource=Total&key=${sitesParam}&qid=${queueId}`;\nconst aiTrafficUrl = `https://pro.similarweb.com/#/digitalsuite/ai-traffic/overview/*/804/12m?webSource=Total&key=${sitesParam}&qid=${queueId}`;\n\nreturn [{\n  json: {\n    ...input,\n    performanceUrl,\n    aiTrafficUrl,\n    sites: sitesParam,\n    sitesCount: sites.length,\n    queueId\n  }\n}];"
      },
      "id": "d4b2714a-4e2a-4eae-99f2-b22ff0ae5bcc",
      "name": "Подготовка URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        528
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySeconds }}"
      },
      "id": "77b9c208-e53c-4ddd-b1f0-14508158d1f5",
      "name": "Рандомная пауза",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        528
      ],
      "webhookId": "b9f86f03-61de-46cd-a25e-ed2b0eefd1b5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807869987,
          "mode": "list",
          "cachedResultName": "Очередь",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=807869987"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "queue_id"
          ],
          "schema": [
            {
              "id": "queue_id",
              "displayName": "queue_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "736f8480-5c35-4fba-a16f-e165633fa376",
      "name": "Статус: processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.browse.ai/v2/robots/019be626-b575-7d4b-a848-beee91c6d7aa/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputParameters\": {\n    \"originUrl\": \"{{ $('Подготовка URL').first().json.performanceUrl }}\"\n  }\n}",
        "options": {}
      },
      "id": "4db97b36-3834-411e-b072-fb871d93b1fb",
      "name": "Запуск Performance Robot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4IkSClA1cWUZRGFP",
          "name": "Browse AI 2.1"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "id": "d192014c-7c9d-4846-8a11-671ff18d379d",
      "name": "Ждём Performance",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        528
      ],
      "webhookId": "c7dd6269-f291-40a4-a5fb-720e598e2f66"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.browse.ai/v2/robots/019be633-e05e-757a-aced-1cb415907f85/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputParameters\": {\n    \"originUrl\": \"{{ $('Подготовка URL').first().json.aiTrafficUrl }}\"\n  }\n}",
        "options": {}
      },
      "id": "482e9e1c-93f9-4a33-a206-dbc01ece6e49",
      "name": "Запуск AI Traffic Robot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4IkSClA1cWUZRGFP",
          "name": "Browse AI 2.1"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "browse-ai-performance",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4ace39dc-5c32-4679-841b-fe1a01a80ba1",
      "name": "Webhook: Performance Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        928
      ],
      "webhookId": "browse-ai-performance"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "browse-ai-aitraffic",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6787af06-960c-4788-aaac-d163c6b6a281",
      "name": "Webhook: AI Traffic Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        1328
      ],
      "webhookId": "browse-ai-aitraffic"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем статус задачи и направляем на обработку или логирование ошибки\nconst input = $input.first().json;\n\nconst taskStatus = input.body?.task?.status || input.status;\nconst taskId = input.body?.task?.id || 'unknown';\nconst finishedAt = input.body?.task?.finishedAt;\nconst robotId = input.body?.robot?.id || 'unknown';\nconst originUrl = input.body?.task?.inputParameters?.originUrl || '';\n\n// Определяем тип робота\nconst isPerformance = originUrl.includes('website-performance');\nconst robotType = isPerformance ? 'Performance' : 'AI Traffic';\n\n// Извлекаем информацию из URL\nconst keyMatch = originUrl.match(/key=([^&]+)/);\nlet sites = [];\nif (keyMatch) {\n  sites = decodeURIComponent(keyMatch[1]).split(',');\n}\n\nconst periodMatch = originUrl.match(/\\/804\\/(\\d{4}\\.\\d{2})-/);\nconst period = periodMatch ? periodMatch[1] : 'unknown';\n\n// Проверяем успешность\nconst isSuccess = (taskStatus === 'successful' || taskStatus === 'completed') && finishedAt;\n\nif (!isSuccess) {\n  // Задача провалилась - логируем ошибку\n  // Поля соответствуют колонкам в таблице \"Логи ошибок\"\n  return [{\n    json: {\n      isError: true,\n      timestamp: new Date().toISOString().replace('T', ' ').substring(0, 19),\n      task_id: taskId,\n      robot_type: robotType,\n      period: period,\n      sites: sites.join(','),\n      status: taskStatus || 'failed',\n      error_message: input.body?.task?.failedReason || 'Unknown error',\n      url: originUrl,\n      // Дополнительные поля для обработки\n      taskId,\n      taskStatus,\n      robotType,\n      originUrl\n    }\n  }];\n}\n\n// Задача успешна - передаём на обработку\nreturn [{\n  json: {\n    isError: false,\n    taskId,\n    taskStatus,\n    robotType,\n    period,\n    sites,\n    originUrl,\n    body: input.body\n  }\n}];"
      },
      "id": "2b040f47-f893-4c96-bcf8-1ddcc5f90364",
      "name": "Проверка статуса задачи",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-error",
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5a26790-1297-4843-87d8-5c6f3e8e98e5",
      "name": "Ошибка или успех?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        928
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1263404191,
          "mode": "list",
          "cachedResultName": "Логи ошибок",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=1263404191"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "robot_type",
              "displayName": "robot_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "period",
              "displayName": "period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sites",
              "displayName": "sites",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b8ad290e-3517-4b06-b176-07d0cab49804",
      "name": "Логируем ошибку",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        688,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003503638426",
        "text": "=❌ <b>Ошибка робота</b>\n\n🤖 Робот: {{ $json.robotType }}\n📅 Период: {{ $json.period }}\n🌐 Сайты: {{ $json.sites }}\n\n⚠️ Статус: {{ $json.taskStatus }}\n📝 Ошибка: {{ $json.errorMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a8dcf2b4-b766-4c7a-8a15-82532cdcb80c",
      "name": "Telegram: Ошибка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        800
      ],
      "webhookId": "b91bfe06-5918-49cb-bcc5-ec2a0c38b614",
      "credentials": {
        "telegramApi": {
          "id": "mHbM43fsaWN90avF",
          "name": "I.Redin - ws tg log"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсер Performance данных v3.3\n// Исправлено извлечение периода из разных источников\nconst input = $input.first().json;\n\nconst body = input.body || input;\nconst rawData = body?.task?.capturedTexts || {};\nconst taskId = body?.task?.id || input.taskId || 'unknown';\nconst originUrl = body?.task?.inputParameters?.originUrl || input.originUrl || '';\nconst inputSites = input.sites || [];\n\nconst keyMatch = originUrl.match(/key=([^&]+)/);\nlet sitesFromUrl = [];\nif (keyMatch) {\n  sitesFromUrl = decodeURIComponent(keyMatch[1]).split(',');\n}\nconst clientSite = sitesFromUrl[0] || '';\n\nconst qidMatch = originUrl.match(/qid=([^&]+)/);\nconst queueId = qidMatch ? qidMatch[1] : '';\n\n// Извлекаем период из разных источников\nlet periodFormatted = '';\n// 1. Из URL формата /804/2025.01-2025.02\nconst periodUrlMatch = originUrl.match(/\\/804\\/(\\d{4}\\.\\d{2})-\\d{4}\\.\\d{2}/);\nif (periodUrlMatch) {\n  periodFormatted = periodUrlMatch[1];\n}\n// 2. Из queueId формата site_2025.01_chunk\nif (!periodFormatted && queueId) {\n  const queuePeriodMatch = queueId.match(/_(\\d{4}\\.\\d{2})_/);\n  if (queuePeriodMatch) {\n    periodFormatted = queuePeriodMatch[1];\n  }\n}\n// 3. Текущий месяц как fallback\nif (!periodFormatted) {\n  const now = new Date();\n  periodFormatted = `${now.getFullYear()}.${String(now.getMonth() + 1).padStart(2, '0')}`;\n}\n\nlet data = {};\nif (Array.isArray(rawData)) {\n  rawData.forEach(item => {\n    const key = item.name || item.key;\n    const value = item.newText || item.text || item.value;\n    if (key && value) data[key] = value;\n  });\n} else {\n  data = rawData;\n}\n\nfunction isLoading(html) {\n  if (!html) return true;\n  return html.includes('LoadingContainer') || html.includes('linearGradient id=\"lineGray\"');\n}\n\nfunction extractLegendData(html) {\n  if (!html) return {};\n  const sites = {};\n  const patterns = [\n    /data-automation-title=\"true\"[^>]*>([^<]+)<\\/label>[\\s\\S]*?data-automation-value=\"true\"[^>]*>([^<]+)<\\/label>/g,\n    /class=\"[^\"]*lfbxrA[^\"]*\">([^<]+)<\\/label>[\\s\\S]{0,300}?class=\"[^\"]*gzsEum[^\"]*\">([^<]+)<\\/label>/g,\n    /class=\"[^\"]*iUaIjL[^\"]*\">([^<]+)<\\/label>[\\s\\S]{0,300}?class=\"[^\"]*gzsEum[^\"]*\">([^<]+)<\\/label>/g\n  ];\n  patterns.forEach(pattern => {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      const site = match[1].trim();\n      const value = match[2].trim();\n      if (site && value && site.includes('.') && /^[a-zA-Z0-9]/.test(site)) {\n        if (!sites[site]) sites[site] = value;\n      }\n    }\n  });\n  return sites;\n}\n\nfunction extractEngagementData(html) {\n  if (!html || isLoading(html)) return null;\n\n  const result = {};\n\n  // Извлекаем домены из DomainWrapper\n  const domainPattern = /DomainWrapper[^>]*>\\s*([a-zA-Z0-9][a-zA-Z0-9.-]*\\.[a-zA-Z]{2,})\\s*<\\/span>/g;\n  const domains = [];\n  let match;\n  while ((match = domainPattern.exec(html)) !== null) {\n    domains.push(match[1].trim());\n  }\n\n  if (domains.length === 0) return null;\n\n  // Для каждого домена извлекаем значения\n  domains.forEach(domain => {\n    // Находим колонку с этим доменом\n    const columnStart = html.indexOf('DomainWrapper');\n    if (columnStart === -1) return;\n\n    // Ищем все ячейки для этого домена по data-automation\n    const cellRegex = new RegExp(\n      'data-automation=\"MiniFlexTable-cell ' + domain.replace(/\\./g, '\\\\.') + '\"[\\\\s\\\\S]*?<span[^>]*class=\"[^\"]*value[^\"]*\"[^>]*>([\\\\s\\\\S]*?)</span>',\n      'g'\n    );\n\n    const values = [];\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(html)) !== null) {\n      let val = cellMatch[1]\n        .replace(/<svg[\\s\\S]*?<\\/svg>/g, '')\n        .replace(/<div[\\s\\S]*?<\\/div>/g, '')\n        .replace(/<[^>]+>/g, '')\n        .trim();\n      if (val) {\n        values.push(val);\n      }\n    }\n\n    if (values.length >= 5) {\n      result[domain] = {\n        monthlyVisits: values[0] || '',\n        uniqueVisitors: values[1] || '',\n        visitsPerVisitor: values[2] || '',\n        deduplicatedAudience: values[3] || '',\n        visitDuration: values[4] || '',\n        pagesPerVisit: values[5] || '',\n        bounceRate: values[6] || '',\n        pageViews: values[7] || ''\n      };\n    }\n  });\n\n  return Object.keys(result).length > 0 ? result : null;\n}\n\nconst direct = extractLegendData(data['Direct']);\nconst organicSearch = extractLegendData(data['Organic Search']);\nconst paidSearch = extractLegendData(data['Paid Search']);\nconst displayAds = extractLegendData(data['Display Ads'] || data['Display Search']);\nconst social = extractLegendData(data['Social'] || data['Sosial']);\nconst email = extractLegendData(data['Email']);\n\nlet engagement = null;\nif (!isLoading(data['Engagement'])) {\n  engagement = extractEngagementData(data['Engagement']);\n}\nif (!engagement && data['Engagement 2']) {\n  engagement = extractEngagementData(data['Engagement 2']);\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst allSites = new Set();\n[direct, organicSearch, paidSearch, displayAds, social, email].forEach(channel => {\n  Object.keys(channel).forEach(site => allSites.add(site));\n});\nif (engagement) {\n  Object.keys(engagement).forEach(site => allSites.add(site));\n}\nif (allSites.size === 0 && sitesFromUrl.length > 0) {\n  sitesFromUrl.forEach(site => allSites.add(site));\n}\nif (allSites.size === 0 && inputSites.length > 0) {\n  inputSites.forEach(site => allSites.add(site));\n}\n\nconst sitesArray = Array.from(allSites);\n\nconst sheetsRows = sitesArray.map((site) => {\n  const eng = engagement?.[site] || {};\n  return {\n    'date': today,\n    'period': periodFormatted,\n    'client_site': clientSite,\n    'site': site,\n    'type': site === clientSite ? 'client' : 'competitor',\n    'Monthly Visits': eng.monthlyVisits || '',\n    'Unique Visitors': eng.uniqueVisitors || '',\n    'Visit Duration': eng.visitDuration || '',\n    'Pages/Visit': eng.pagesPerVisit || '',\n    'Bounce Rate': eng.bounceRate || '',\n    'Direct': direct[site] || '',\n    'Organic Search': organicSearch[site] || '',\n    'Paid Search': paidSearch[site] || '',\n    'Display Ads': displayAds[site] || '',\n    'Social': social[site] || '',\n    'Email': email[site] || '',\n    'Task ID': taskId,\n    'Queue ID': queueId,\n    'key': `${periodFormatted}_${site}`\n  };\n});\n\nreturn [{\n  json: {\n    taskId,\n    queueId,\n    type: 'performance',\n    periodFormatted,\n    clientSite,\n    engagement,\n    channels: { direct, organicSearch, paidSearch, displayAds, social, email },\n    sheetsRows,\n    sitesCount: sitesArray.length,\n    raw: data\n  }\n}];\n"
      },
      "id": "c2ce219d-507c-4ff5-8b2f-c258da680ca1",
      "name": "Parse Performance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheetsRows",
        "options": {}
      },
      "id": "0f4f9ca9-e43d-463a-a25d-37e69ec4f3a3",
      "name": "Split Out: Performance",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        1040
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Клиенты"
        },
        "options": {}
      },
      "id": "jj000000-0000-0000-0000-000000000001",
      "name": "Читаем Клиенты",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        1320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Маршрутизация данных в таблицу клиента\nconst clients = $('Читаем Клиенты').all();\nconst performanceRows = $('Split Out: Performance').all();\n\n// Создаём мапу client_site -> spreadsheet_id\nconst clientMap = new Map();\nclients.forEach(c => {\n  if (c.json.client_site && c.json.spreadsheet_id) {\n    clientMap.set(c.json.client_site, c.json.spreadsheet_id);\n  }\n});\n\n// Группируем данные по клиентам\nconst resultsByClient = new Map();\n\nperformanceRows.forEach(row => {\n  const clientSite = row.json.client_site;\n  const spreadsheetId = clientMap.get(clientSite);\n  \n  if (spreadsheetId) {\n    if (!resultsByClient.has(clientSite)) {\n      resultsByClient.set(clientSite, {\n        spreadsheet_id: spreadsheetId,\n        rows: []\n      });\n    }\n    resultsByClient.get(clientSite).rows.push(row.json);\n  }\n});\n\n// Возвращаем данные для записи в таблицы клиентов\nconst output = [];\nresultsByClient.forEach((data, clientSite) => {\n  data.rows.forEach(row => {\n    output.push({\n      json: {\n        ...row,\n        _spreadsheet_id: data.spreadsheet_id\n      }\n    });\n  });\n});\n\nreturn output.length > 0 ? output : [{ json: { noClientData: true } }];"
      },
      "id": "jj000000-0000-0000-0000-000000000002",
      "name": "Маршрутизация по клиентам",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-client-data",
              "leftValue": "={{ $json.noClientData }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "jj000000-0000-0000-0000-000000000003",
      "name": "Есть данные клиента?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1568,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json._spreadsheet_id }}/values/Данные!A:T:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $json.date, $json.period, $json.client_site, $json.site, $json.type, $json['Monthly Visits'], $json['Unique Visitors'], $json['Visit Duration'], $json['Pages/Visit'], $json['Bounce Rate'], $json.Direct, $json['Organic Search'], $json['Paid Search'], $json['Display Ads'], $json.Social, $json.Email, $json['AI Traffic'], $json['Task ID'], $json['Queue ID'], $json.key ]] }) }}",
        "options": {}
      },
      "id": "jj000000-0000-0000-0000-000000000004",
      "name": "Пишем в таблицу клиента",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        1320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обновляем статус в очереди после успешного сохранения\nconst performanceData = $('Parse Performance Data').first().json;\nconst originUrl = $('Проверка статуса задачи').first().json.originUrl || '';\n\n// Извлекаем queue_id из URL\nconst qidMatch = originUrl.match(/qid=([^&]+)/);\nconst queueId = qidMatch ? decodeURIComponent(qidMatch[1]) : '';\n\nconst now = new Date().toISOString().replace('T', ' ').substring(0, 19);\n\nreturn [{\n  json: {\n    queue_id: queueId,\n    status: 'done',\n    task_id: performanceData.taskId\n  }\n}];"
      },
      "id": "c792cf9c-2878-4b26-8ccb-5ebf399da95a",
      "name": "Подготовка обновления очереди",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Формируем отчёт из Performance данных\nconst data = $('Parse Performance Data').first().json;\n\nlet report = '📊 <b>SimilarWeb Report</b>\\n';\nreport += `📅 ${data.periodFormatted}\\n`;\nreport += `👤 Клиент: ${data.clientSite}\\n\\n`;\n\n// Engagement данные\nconst engagement = data.engagement;\nif (engagement && Object.keys(engagement).length > 0) {\n  report += '━━━━━━━━━━━━━━━━━━━━━\\n';\n  report += '📈 <b>ENGAGEMENT</b>\\n';\n  report += '━━━━━━━━━━━━━━━━━━━━━\\n\\n';\n  \n  Object.entries(engagement).forEach(([site, metrics], idx) => {\n    const siteEmoji = site === data.clientSite ? '🔵' : '🟠';\n    report += `${siteEmoji} <b>${site}</b>\\n`;\n    if (metrics.monthlyVisits) report += `   📊 Monthly Visits: ${metrics.monthlyVisits}\\n`;\n    if (metrics.uniqueVisitors) report += `   👥 Unique Visitors: ${metrics.uniqueVisitors}\\n`;\n    if (metrics.visitDuration) report += `   ⏱ Visit Duration: ${metrics.visitDuration}\\n`;\n    if (metrics.pagesPerVisit) report += `   📄 Pages/Visit: ${metrics.pagesPerVisit}\\n`;\n    if (metrics.bounceRate) report += `   📉 Bounce Rate: ${metrics.bounceRate}\\n`;\n    report += '\\n';\n  });\n}\n\n// Каналы трафика\nconst channels = data.channels;\nconst hasChannels = channels && Object.values(channels).some(ch => Object.keys(ch).length > 0);\n\nif (hasChannels) {\n  report += '━━━━━━━━━━━━━━━━━━━━━\\n';\n  report += '🚦 <b>TRAFFIC SOURCES</b>\\n';\n  report += '━━━━━━━━━━━━━━━━━━━━━\\n\\n';\n  \n  const channelConfig = [\n    { key: 'direct', name: 'Direct', emoji: '🔗' },\n    { key: 'organicSearch', name: 'Organic Search', emoji: '🔍' },\n    { key: 'paidSearch', name: 'Paid Search', emoji: '💰' },\n    { key: 'displayAds', name: 'Display Ads', emoji: '📺' },\n    { key: 'social', name: 'Social', emoji: '📱' },\n    { key: 'email', name: 'Email', emoji: '📧' }\n  ];\n  \n  channelConfig.forEach(({ key, name, emoji }) => {\n    const channelData = channels[key];\n    if (channelData && Object.keys(channelData).length > 0) {\n      report += `${emoji} <b>${name}</b>\\n`;\n      Object.entries(channelData).forEach(([site, value], idx) => {\n        const siteEmoji = site === data.clientSite ? '🔵' : '🟠';\n        report += `   ${siteEmoji} ${site}: ${value}\\n`;\n      });\n      report += '\\n';\n    }\n  });\n}\n\nreport += '━━━━━━━━━━━━━━━━━━━━━\\n';\nreport += '✅ Данные сохранены';\n\nreturn [{\n  json: {\n    report,\n    ...data\n  }\n}];"
      },
      "id": "4a021a4f-7cab-4c2a-b95c-825217df8e53",
      "name": "Format Performance Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1216
      ]
    },
    {
      "parameters": {
        "chatId": "-1003503638426",
        "text": "={{ $json.report }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b78c405f-2ae4-48a6-be0f-361efa579c3e",
      "name": "Telegram: Performance",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        1216
      ],
      "webhookId": "d95e8d2d-b66c-4ced-a7fc-c90b43ce5a46",
      "credentials": {
        "telegramApi": {
          "id": "mHbM43fsaWN90avF",
          "name": "I.Redin - ws tg log"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсер AI Traffic данных v2.3\n// Исправлено извлечение периода из разных источников\nconst input = $input.first().json;\n\nconst body = input.body || input;\nconst taskStatus = body?.task?.status || input.taskStatus;\nconst inputSites = input.sites || [];\n\n// Early return with proper format if not successful\nif (taskStatus !== 'successful' && taskStatus !== 'completed') {\n  return [{\n    json: {\n      error: 'Task not successful',\n      taskStatus,\n      sheetsRows: []\n    }\n  }];\n}\n\nconst rawData = body?.task?.capturedTexts || {};\nconst taskId = body?.task?.id || input.taskId || 'unknown';\nconst originUrl = body?.task?.inputParameters?.originUrl || input.originUrl || '';\n\nconst keyMatch = originUrl.match(/key=([^&]+)/);\nlet sitesFromUrl = [];\nif (keyMatch) {\n  sitesFromUrl = decodeURIComponent(keyMatch[1]).split(',');\n}\nconst clientSite = sitesFromUrl[0] || '';\n\n// Извлекаем queueId для связки с очередью\nconst qidMatch = originUrl.match(/qid=([^&]+)/);\nconst queueId = qidMatch ? qidMatch[1] : '';\n\n// Извлекаем период из разных источников\nlet periodFormatted = '';\n// 1. Из URL формата /804/2025.01-\nconst periodUrlMatch = originUrl.match(/\\/804\\/(\\d{4}\\.\\d{2})-/);\nif (periodUrlMatch) {\n  periodFormatted = periodUrlMatch[1];\n}\n// 2. Из queueId формата site_2025.01_chunk\nif (!periodFormatted && queueId) {\n  const queuePeriodMatch = queueId.match(/_(\\d{4}\\.\\d{2})_/);\n  if (queuePeriodMatch) {\n    periodFormatted = queuePeriodMatch[1];\n  }\n}\n// 3. Текущий месяц как fallback\nif (!periodFormatted) {\n  const now = new Date();\n  periodFormatted = `${now.getFullYear()}.${String(now.getMonth() + 1).padStart(2, '0')}`;\n}\n\nlet data = {};\nif (Array.isArray(rawData)) {\n  rawData.forEach(item => {\n    const key = item.name || item.key;\n    const value = item.newText || item.text || item.value;\n    if (key && value) data[key] = value;\n  });\n} else {\n  data = rawData;\n}\n\n// Универсальная функция извлечения данных AI Traffic\nfunction extractLegendData(html) {\n  if (!html) return {};\n  const sites = {};\n\n  const patterns = [\n    // data-automation атрибуты (стабильные)\n    /data-automation-title=\"true\"[^>]*>([^<]+)<\\/label>[\\s\\S]*?data-automation-value=\"true\"[^>]*>([^<]+)<\\/label>/gs,\n    // Динамические классы SimilarWeb\n    /class=\"[^\"]*\"[^>]*>([a-zA-Z0-9][a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})<\\/label>[\\s\\S]{0,200}?<label[^>]*class=\"[^\"]*\"[^>]*>([\\d,]+|N\\/A)<\\/label>/g,\n    // Fallback: label пары с доменами\n    /<label[^>]*>([a-zA-Z0-9][a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})<\\/label>[\\s\\S]{0,200}?<label[^>]*>([\\d,]+|N\\/A)<\\/label>/g\n  ];\n\n  patterns.forEach(pattern => {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      const site = match[1].trim();\n      const value = match[2].trim();\n      if (site && value && site.includes('.') && /^[a-zA-Z0-9]/.test(site)) {\n        if (!sites[site]) sites[site] = value;\n      }\n    }\n  });\n  return sites;\n}\n\nconst aiTraffic = extractLegendData(data['Avg Traffic']);\nconst today = new Date().toISOString().split('T')[0];\n\n// Собираем сайты с fallback\nconst allSites = Object.keys(aiTraffic);\nif (allSites.length === 0 && sitesFromUrl.length > 0) {\n  sitesFromUrl.forEach(site => allSites.push(site));\n}\nif (allSites.length === 0 && inputSites.length > 0) {\n  inputSites.forEach(site => allSites.push(site));\n}\n\n// Полная структура строки (20 колонок) - как в Performance парсере\nconst sheetsRows = allSites.map((site) => ({\n  'date': today,\n  'period': periodFormatted,\n  'client_site': clientSite,\n  'site': site,\n  'type': site === clientSite ? 'client' : 'competitor',\n  'Monthly Visits': '',\n  'Unique Visitors': '',\n  'Visit Duration': '',\n  'Pages/Visit': '',\n  'Bounce Rate': '',\n  'Direct': '',\n  'Organic Search': '',\n  'Paid Search': '',\n  'Display Ads': '',\n  'Social': '',\n  'Email': '',\n  'AI Traffic': aiTraffic[site] || 'N/A',\n  'Task ID': taskId,\n  'Queue ID': queueId,\n  'key': `${periodFormatted}_${site}`\n}));\n\nreturn [{\n  json: {\n    taskId,\n    queueId,\n    type: 'aitraffic',\n    clientSite,\n    periodFormatted,\n    aiTraffic,\n    sheetsRows,\n    sitesCount: allSites.length,\n    raw: data\n  }\n}];\n"
      },
      "id": "56daa802-3f0a-484a-a4f0-1581abab68ca",
      "name": "Parse AI Traffic Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1328
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheetsRows",
        "options": {}
      },
      "id": "01d364b4-a16f-4757-8952-7f7bc652b036",
      "name": "Split Out: AI Traffic",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        1328
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Клиенты"
        },
        "options": {}
      },
      "id": "kk000000-0000-0000-0000-000000000005",
      "name": "Читаем Клиенты для AI",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        912,
        1328
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Маршрутизация AI Traffic данных в таблицу клиента\nconst clients = $('Читаем Клиенты для AI').all();\nconst aiRows = $('Split Out: AI Traffic').all();\n\n// Создаём мапу client_site -> spreadsheet_id\nconst clientMap = new Map();\nclients.forEach(c => {\n  if (c.json.client_site && c.json.spreadsheet_id) {\n    clientMap.set(c.json.client_site, c.json.spreadsheet_id);\n  }\n});\n\n// Группируем данные по клиентам\nconst output = [];\n\naiRows.forEach(row => {\n  const clientSite = row.json.client_site;\n  const spreadsheetId = clientMap.get(clientSite);\n  \n  if (spreadsheetId) {\n    output.push({\n      json: {\n        ...row.json,\n        _spreadsheet_id: spreadsheetId\n      }\n    });\n  }\n});\n\nreturn output.length > 0 ? output : [{ json: { noClientData: true } }];"
      },
      "id": "kk000000-0000-0000-0000-000000000006",
      "name": "Маршрутизация AI по клиентам",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1328
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-ai-client-data",
              "leftValue": "={{ $json.noClientData }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "kk000000-0000-0000-0000-000000000007",
      "name": "Есть AI данные клиента?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1360,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json._spreadsheet_id }}/values/Данные!A:T:append",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $json.date, $json.period, $json.client_site, $json.site, $json.type, $json['Monthly Visits'], $json['Unique Visitors'], $json['Visit Duration'], $json['Pages/Visit'], $json['Bounce Rate'], $json.Direct, $json['Organic Search'], $json['Paid Search'], $json['Display Ads'], $json.Social, $json.Email, $json['AI Traffic'], $json['Task ID'], $json['Queue ID'], $json.key ]] }) }}",
        "options": {}
      },
      "id": "kk000000-0000-0000-0000-000000000008",
      "name": "Пишем AI в таблицу клиента",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        1328
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Формируем отчёт из AI Traffic данных\nconst data = $('Parse AI Traffic Data').first().json;\n\nlet report = '🤖 <b>AI TRAFFIC</b>\\n';\nreport += `📅 ${data.periodFormatted}\\n`;\nreport += '━━━━━━━━━━━━━━━━━━━━━\\n\\n';\n\nconst aiTraffic = data.aiTraffic || {};\n\nif (Object.keys(aiTraffic).length > 0) {\n  Object.entries(aiTraffic).forEach(([site, value], idx) => {\n    const emoji = idx === 0 ? '🔵' : idx === 1 ? '🟠' : idx === 2 ? '🟢' : '🟡';\n    report += `${emoji} ${site}: <b>${value}</b>\\n`;\n  });\n} else {\n  report += 'Нет данных по AI Traffic\\n';\n}\n\nreport += '\\n━━━━━━━━━━━━━━━━━━━━━\\n';\nreport += '✅ AI Traffic сохранён';\n\nreturn [{\n  json: {\n    report,\n    ...data\n  }\n}];"
      },
      "id": "bf059aa6-9054-4c56-8bc8-b383c8ca02e6",
      "name": "Format AI Traffic Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1504
      ]
    },
    {
      "parameters": {
        "chatId": "-1003503638426",
        "text": "={{ $json.report }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "9f4d1389-7d54-4223-922c-aa320e750272",
      "name": "Telegram: AI Traffic",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        1504
      ],
      "webhookId": "47978784-7cd7-48fd-a4a1-b564e65c92ca",
      "credentials": {
        "telegramApi": {
          "id": "mHbM43fsaWN90avF",
          "name": "I.Redin - ws tg log"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807869987,
          "mode": "list",
          "cachedResultName": "Очередь",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU/edit#gid=807869987"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "queue_id"
          ],
          "schema": [
            {
              "id": "queue_id",
              "displayName": "queue_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6cf86895-175e-432d-8259-09fff265593e",
      "name": "Обновляем статус очереди: done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ЗАДАЧА №1: Проверка и создание папок клиентов на Google Drive\n// Извлекаем уникальных клиентов из списка конкурентов\nconst competitors = $('Читаем всех конкурентов').all();\n\n// Собираем уникальных клиентов\nconst uniqueClients = new Set();\ncompetitors.forEach(row => {\n  const client = row.json.client_site;\n  if (client) {\n    uniqueClients.add(client);\n  }\n});\n\n// Возвращаем список клиентов для проверки папок\nconst clients = Array.from(uniqueClients).map(client => ({\n  json: {\n    client_site: client,\n    folder_name: client // Имя папки = имя сайта клиента\n  }\n}));\n\nconsole.log(`Found ${clients.length} unique clients`);\nreturn clients;"
      },
      "id": "aa111111-1111-1111-1111-111111111111",
      "name": "Извлекаем уникальных клиентов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Проверяем папку клиента через Google Drive API\n// Обрабатываем текущий элемент из списка клиентов\nconst clientSite = $input.item.json.client_site;\nconst parentFolderId = '1Z069NZFgLq1zBS9EM3fKLFfkyq8BO1h9';\n\n// Передаём данные для HTTP Request и сохраняем client_site в output\nreturn {\n  client_site: clientSite,\n  folder_name: clientSite,\n  parent_folder_id: parentFolderId,\n  query: `mimeType='application/vnd.google-apps.folder' and name='${clientSite}' and '${parentFolderId}' in parents and trashed=false`\n};"
      },
      "id": "bb222222-2222-2222-2222-222222222222",
      "name": "Подготовка запроса Drive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -272
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "bb222222-2222-2222-2222-222222222223",
      "name": "Поиск папки клиента",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -272
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Анализируем результат поиска папки\nconst files = $input.item.json.files || [];\nconst clientSite = $('Подготовка запроса Drive').item.json.client_site;\n\nconst folderExists = files.length > 0;\nconst folderId = folderExists ? files[0].id : null;\n\nreturn {\n  client_site: clientSite,\n  folder_exists: folderExists,\n  folder_id: folderId,\n  folder_name: clientSite\n};"
      },
      "id": "cc333333-3333-3333-3333-333333333333",
      "name": "Анализ результата поиска",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "folder-exists-check",
              "leftValue": "={{ $json.folder_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd444444-4444-4444-4444-444444444444",
      "name": "Папка существует?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.folder_name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"1Z069NZFgLq1zBS9EM3fKLFfkyq8BO1h9\"]\n}",
        "options": {}
      },
      "id": "ee555555-5555-5555-5555-555555555555",
      "name": "Создаём папку клиента",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SimilarWeb Data - {{ $('Папка существует?').item.json.client_site }}\",\n  \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n  \"parents\": [\"{{ $json.id }}\"]\n}"
      },
      "id": "ff666666-6666-6666-6666-666666666666",
      "name": "Создаём таблицу клиента",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LKAQlCpSzzSEwEwA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"title\": \"Данные\"\n        }\n      }\n    }\n  ]\n}"
      },
      "id": "hh888888-8888-8888-8888-888888888888",
      "name": "Создаём лист Данные",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $(\"Создаём таблицу клиента\").item.json.id }}/values/Данные!A1:T1?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[\n    \"date\",\n    \"period\",\n    \"client_site\",\n    \"site\",\n    \"type\",\n    \"Monthly Visits\",\n    \"Unique Visitors\",\n    \"Visit Duration\",\n    \"Pages/Visit\",\n    \"Bounce Rate\",\n    \"Direct\",\n    \"Organic Search\",\n    \"Paid Search\",\n    \"Display Ads\",\n    \"Social\",\n    \"Email\",\n    \"AI Traffic\",\n    \"Task ID\",\n    \"Queue ID\",\n    \"key\"\n  ]]\n}"
      },
      "id": "header-node-0001-0001-0001-000000000001",
      "name": "Записываем заголовки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ftyhDQ0px7gI1mjbZB-lFY8hyTQeM4Gy1mlHHnXoNPU",
          "mode": "list",
          "cachedResultName": "Comparing SimilarWeb"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Клиенты"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_site": "={{ $('Папка существует?').item.json.client_site }}",
            "folder_id": "={{ $('Создаём папку клиента').item.json.id }}",
            "spreadsheet_id": "={{ $('Создаём таблицу клиента').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_site",
              "displayName": "client_site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_email",
              "displayName": "employee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folder_id",
              "displayName": "folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spreadsheet_id",
              "displayName": "spreadsheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ii999999-9999-9999-9999-999999999999",
      "name": "Сохраняем клиента",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        -272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hMp9ISVYVcdpImYl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003503638426",
        "text": "=📁 <b>Новый клиент</b>\n\n🌐 Сайт: {{ $('Папка существует?').item.json.client_site }}\n✅ Создана папка на Google Drive\n📊 Создана таблица: {{ $('Создаём таблицу клиента').item.json.id }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "gg777777-7777-7777-7777-777777777777",
      "name": "Telegram: Новый клиент",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        -352
      ],
      "credentials": {
        "telegramApi": {
          "id": "mHbM43fsaWN90avF",
          "name": "I.Redin - ws tg log"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron: Проверка полноты (2x в день)": {
      "main": [
        [
          {
            "node": "Читаем всех конкурентов",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читаем все результаты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читаем очередь (проверка)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем всех конкурентов": {
      "main": [
        [
          {
            "node": "Объединяем данные",
            "type": "main",
            "index": 0
          },
          {
            "node": "Извлекаем уникальных клиентов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем все результаты": {
      "main": [
        [
          {
            "node": "Объединяем данные",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Объединяем данные": {
      "main": [
        [
          {
            "node": "Анализ полноты данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ полноты данных": {
      "main": [
        [
          {
            "node": "Есть новые задачи?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть новые задачи?": {
      "main": [
        [
          {
            "node": "Добавляем в очередь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем в очередь": {
      "main": [
        [
          {
            "node": "Telegram: Задачи добавлены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron: Обработка очереди": {
      "main": [
        [
          {
            "node": "Читаем очередь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем очередь": {
      "main": [
        [
          {
            "node": "Filter: Только pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем очередь (проверка)": {
      "main": [
        [
          {
            "node": "Объединяем данные",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter: Только pending": {
      "main": [
        [
          {
            "node": "Подготовка задач (макс 9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка задач (макс 9)": {
      "main": [
        [
          {
            "node": "Рандомная пауза",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рандомная пауза": {
      "main": [
        [
          {
            "node": "Подготовка URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка URL": {
      "main": [
        [
          {
            "node": "Статус: processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус: processing": {
      "main": [
        [
          {
            "node": "Запуск Performance Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск Performance Robot": {
      "main": [
        [
          {
            "node": "Ждём Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ждём Performance": {
      "main": [
        [
          {
            "node": "Запуск AI Traffic Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Performance Results": {
      "main": [
        [
          {
            "node": "Проверка статуса задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка статуса задачи": {
      "main": [
        [
          {
            "node": "Ошибка или успех?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ошибка или успех?": {
      "main": [
        [
          {
            "node": "Логируем ошибку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Performance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Логируем ошибку": {
      "main": [
        [
          {
            "node": "Telegram: Ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Performance Data": {
      "main": [
        [
          {
            "node": "Split Out: Performance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Performance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: Performance": {
      "main": [
        [
          {
            "node": "Подготовка обновления очереди",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читаем Клиенты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Клиенты": {
      "main": [
        [
          {
            "node": "Маршрутизация по клиентам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрутизация по клиентам": {
      "main": [
        [
          {
            "node": "Есть данные клиента?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть данные клиента?": {
      "main": [
        [
          {
            "node": "Пишем в таблицу клиента",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Performance Report": {
      "main": [
        [
          {
            "node": "Telegram: Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: AI Traffic Results": {
      "main": [
        [
          {
            "node": "Parse AI Traffic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Traffic Data": {
      "main": [
        [
          {
            "node": "Split Out: AI Traffic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format AI Traffic Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: AI Traffic": {
      "main": [
        [
          {
            "node": "Читаем Клиенты для AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Клиенты для AI": {
      "main": [
        [
          {
            "node": "Маршрутизация AI по клиентам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрутизация AI по клиентам": {
      "main": [
        [
          {
            "node": "Есть AI данные клиента?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть AI данные клиента?": {
      "main": [
        [
          {
            "node": "Пишем AI в таблицу клиента",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format AI Traffic Report": {
      "main": [
        [
          {
            "node": "Telegram: AI Traffic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка обновления очереди": {
      "main": [
        [
          {
            "node": "Обновляем статус очереди: done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем уникальных клиентов": {
      "main": [
        [
          {
            "node": "Подготовка запроса Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка запроса Drive": {
      "main": [
        [
          {
            "node": "Поиск папки клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск папки клиента": {
      "main": [
        [
          {
            "node": "Анализ результата поиска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ результата поиска": {
      "main": [
        [
          {
            "node": "Папка существует?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Папка существует?": {
      "main": [
        [
          {
            "node": "Создаём папку клиента",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Создаём папку клиента": {
      "main": [
        [
          {
            "node": "Создаём таблицу клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаём таблицу клиента": {
      "main": [
        [
          {
            "node": "Создаём лист Данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаём лист Данные": {
      "main": [
        [
          {
            "node": "Записываем заголовки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записываем заголовки": {
      "main": [
        [
          {
            "node": "Сохраняем клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем клиента": {
      "main": [
        [
          {
            "node": "Telegram: Новый клиент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "QQu2DVSfdVpU9Rhw",
    "timeSavedPerExecution": 500
  },
  "versionId": "9943cb9d-4cc4-4766-80d2-ca18926f42c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d17d52227a4e309d92bfdb193ff498ba1e95c0c0bc8ff19ed6534df76683725"
  },
  "id": "C5gcCnSahblLUIjZ",
  "tags": []
}